.itemContainer{
    display:grid;
    grid-template-rows: 45% 1fr;
    grid-row-gap:15px;
    max-height:400px;
    max-width:350px;
    background-color:white;
    box-shadow:0 3px 6px 0 rgba(0,0,0,.16);
    color:var(--black-color);
}
.itemImage{

}
.itemImage>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.itemInfo{
    display: grid;
    grid-template-rows: min-content auto 35px;
    grid-row-gap: 4px;
    overflow:hidden;
}

.itemInfo .priceInfo{
    display:flex;
    justify-content:space-between;
    padding:0 15px;
    font-size:1.3em;
}
.itemInfo .priceInfo>span{
    font-weight:bold;
}
.itemInfo .priceInfo .valoraciones{
    display:flex;
}
.itemInfo .priceInfo svg{
    height:1em;
    margin:0 2px;
}

.cursoInfo{
    padding:0 15px;
    overflow:hidden;
    position:relative;
}
.cursoInfo:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:25px;
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    width:100%;
}
.finalBtn{
    width:100%;
    background-color:var(--main-color);
    font-weight:bold;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}
@media screen and (max-width: 600px){
    .itemContainer{
        max-width: 300px;
        max-height:450px;
    }
}
