.wrapper{
    position: relative;
    width: 100%;
    margin-top:20px;
    padding-top: 22%;
    box-shadow: 0px 3px 10px -5px var(--black-color);
}
.caja {
    position: absolute;
    top: 0px;
    right: 0px;
    left:0px;
    bottom: 0px;
    padding: 26px 37px 22px;
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-areas: "foto contenido";
}
.VistaPreviaVideo {
    padding: 0px 10px;
    grid-area: foto;
}
.Contenido{
    padding: 0px 10px;
    display:grid;
    grid-area: contenido;
    grid-template-rows: 81% 1% 18%;
    grid-template-areas: "descripcion" "." "stats";
}
.Descripcion{
    padding: 0px 0px 0px 5px;
    display:grid;
    grid-area: descripcion;
    grid-template-rows: 18% 82%;
    grid-template-areas: "titulo" "descripcionCurso";
}
.Stats{
    display:grid;
    grid-area: stats;
    grid-template-columns: 5% 22% 18% auto 25% 15%;
    grid-template-areas: ". rating porCiento . descuento precio";
}
.NombreDeCurso{
    grid-area: titulo;
}
.DescripcionDeCurso{
    grid-area: descripcionCurso;
}
.Stats div{
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.Rating{
    color: var(--main-color);
    grid-area: rating;
    display:grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "estrellas score";
}
.Estrellas{
    display: flex;
    position: relative;
    top: 3px;
    height: 70%;
    width: 80%;
    grid-area: estrellas;
}
.Score{
    display: flex;
    grid-area: score;
}
.PorCiento{
    display: grid;
    grid-area: porCiento;
    grid-template-columns: 50% 50%;
    grid-template-areas: "numero like";
}
.Numero{
    display: flex;
    text-align: right;
    color: var(--black-color);
    grid-area: numero;
}
/* .Like{
    grid-area: like;
    padding: 8px 50px 12px 0px;
    width: 100%;
    height: 100%;
} */
.Like{
    grid-area: like;
    width: 100%;
    height: 100%;
    background-image: url('/assets/like.png');
    background-repeat: no-repeat;
    background-size: 20% 40%;
    background-position-x: left;
    background-position-y: 40%;
}
.Descuento{
    display: flex;
    color: var(--red-color);
    grid-area: descuento;
}
.Precio{
    display: flex;
    color:white;
    background-color: var(--main-color);
    grid-area: precio;
}
.linethrough{
    text-decoration-line: line-through;
}
.Estrellas img{
    width: 100%;
    height: 100%;
}