.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    align-items: center;
    padding:0 30px;
    background-color: white;
    height:70px;
    justify-content: space-evenly;
    z-index:99;
    animation:showHeader 1s ease-out forwards;
}
.headerWhiteBoard{
    background-color: #f0f0f0;
}
.logo{
    height:75%;
    object-fit: contain;
    cursor:pointer;
}
.headerLink{
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 2px;
    color:var(--black-color);
    cursor:pointer;
}

.exitIcon{
    height:1.5em;
    cursor:pointer;
}
.linkActive{
    font-weight: bold;
    color:var(--black-color);
}

.optionsHeader .optionsHeaderMenu{
    position:fixed;
    top:50px;
    left:unset;
    right:30px;
    transform:translateY(0) scale(.7);
    opacity:0;
    transition:all .3s ease-in;
    z-index:-1;
    width:150px;
}
.optionsHeaderMenu.active{
    transform:translateY(0) scale(1);
    opacity:1;
    transition:all .3s ease-out;
    z-index:1050;
}
.optionsHeader .menuBck{
    background-color:transparent;
}
.userInfo{
    padding:15px;
    border-bottom:solid 1px var(--black-color);
    display:grid;
    grid-row-gap:8px;
    width:150px;
}
.userInfo>span:first-child{
    font-weight:bold;
    text-transform: uppercase;
}
.userInfo>span:last-child{
    font-color:#dcdcdc;
    font-size:.9em;
}
.menuUser{
    padding:15px 0;
}
.menuUser .optionItem{
    padding:4px 15px;
    color:var(--main-color);
    cursor:pointer;
    display: grid;
    grid-template-columns: 1em 1fr;
    grid-column-gap: 12px;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}
.menuUser .optionItem:hover{
    background-color:#dcdcdc;
    color:var(--black-color);
}

@keyframes showHeader{
    from{
        opacity:0;
        transform:translateY(-100%);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
