.mainTitle{
    text-align: left;
    width:fit-content;
}

.welcomeSection h1{
    margin-left:auto;
    font-size:4em;
    position: relative;
    opacity:0;
}
.welcomeSection h1:after{
    content:'';
    position: absolute;
    height:4px;
    width:40%;
    background-color:var(--main-color);
    bottom:-8px;
    left:0;
}

.startBtn{
    position:absolute;
    top:86vh;
    left:50%;
    z-index:1050;
    font-size:1.3em;
}
.startBtn button{
    font-family: 'Bebas Neue', cursive;
    letter-spacing:4px;
    font-size:1.1em;
    /*box-shadow: 0 4px 6px rgba(0,0,0,.2);*/
    transform: perspective(1000px) translateX(-50%);
    backface-visibility: hidden;
    opacity:0;
}
.startBtn button:hover{
    background-color: rgba(235, 235, 235, 0.6) !important;
}
/*---- CAMPOR DE FURGOL ----*/
.mainField{
    position:fixed;
    top:50vh;
    left:50%;
    transform:translate(-50%,-50%);
    width:50vw;
    transform-origin:center;
    z-index:-1;
}


/*--- SECCION NIVELES ---*/
.secondSection{
    min-height: 250vh;
    max-width: 1200px;
    margin:0 auto;
}
.levelSection{
    display:grid;
    grid-template-columns: repeat(3,220px);
    grid-template-rows: repeat(3,minmax(160px,max-content));
    justify-content:end;
    padding-top:70px;
}
.levelRightArrow{
    grid-area:2/1;
    justify-self: center;
}
.levelDownArrow{
    grid-area:2/3;
    align-self: center;
}
.levelItem{
    color:var(--black-color);
    overflow:hidden;
}
.levelItem>div, .levelItem>p{
    transform: translateY(-150px);
}
.levelSection>img{
    opacity:0;
}
.title{
    font-size:2em;
    font-weight:bold;
    text-transform:uppercase;
}
.subtitle{
    font-size:1.3em;
    font-weight:bold;
    text-transform:uppercase;
}

/*--- SECCION VALORES ---*/
.valorSection{
    height:200vh;
    position:relative;
}
.valorsGrid{
    display:grid;
    grid-template-columns:minmax(30ch, 40ch) min-content minmax(30ch, 40ch) min-content minmax(30ch, 40ch);
    grid-column-gap:15px;
    position:absolute;
}
.valorsGrid>div{
    overflow: hidden;
}
.valorsGrid>img{
    opacity:0;
}
@media screen and (min-width: 1200px){
    .levelSection{
        padding-right:60px;
    }
}
