@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'LeagueGothic';
    src:url('./font/LeagueGothic-Italic.otf');
}
body,html{
    margin: 0 auto;
    font-family: 'Lato',sans-serif;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size:12px;
    user-select: none;
}
*,*:after,*:before{
    box-sizing:inherit;
}
:root{
    --main-color:#30bad6;
    --black-color:#565656;
    --red-color:#fc585d;
    --background-color: #f0f0f0;

    /*--- PLAYER ----*/
    --plyr-color-main:var(--main-color);
}
.plyr--video{
    max-height:70vh;
}
p, span, .title{
    max-width:75ch;
}
input::placeholder{
    font-weight: bold;
}
form{
    text-align: center;
}
main{
    position: relative;
    z-index:3;
}
.title{
    text-transform: uppercase;
    font-weight:bold;
    color:#565656;
}

.csr-btn{
    padding:8px 15px;
    text-transform: uppercase;
    cursor:pointer;
}
.csr-btn:focus{
    outline:none;
    color:var(--black-color);
}
.csr-btn.transparent{
    background-color: transparent;
    border-color:solid 2px var(--black-color);
    font-weight:bold;
}
/*--- FORMULARIO PAGO ---*/
.card-input--element{
    background-color: #eef8ff;
    padding:15px;
    margin:15px 15px calc(.9em + 16px) 15px;
    border-radius:25px;
}
#payment-form{
    width:450px;
}
#payment-form input::placeholder{
    font-weight: normal;
}
#payment-form>div>img{
    padding:2px;
}
/*---------- SCROLLBAR ------------*/

html.has-scroll-smooth {
    overflow: hidden; }

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.has-scroll-smooth body {
    overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }

.csr-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
    z-index:1090;
}
.csr-scrollbar:hover {
    transform: scaleX(1.45);
}
.csr-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.csr-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: grabbing;
}


/*------ EDITOR CSS --------*/
#__next .tox.tox-tinymce{
    margin:0 auto;
    max-width:75ch;
    font-size:1.3em;
}
.tox .tox-statusbar{
    display:none !important;
}


/*----- LOADER -----*/
#casor-loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1050;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#casor-loader--container{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(86,86,86,.3);
}
#casor-loader--object{
    display:flex;
}
#casor-loader--object .loader-ball{
    width:15px;
    height:15px;
    margin:0 4px;
    background-color:var(--main-color);
    /*box-shadow: 0 4px 3px 0 rgba(0,0,0,.2);*/
    transform-origin:bottom;
}
#casor-loader--text{
    font-weight: bold;
    color:white;
    font-size:1.3em;
}
