@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'LeagueGothic';
    src:url('./font/LeagueGothic-Italic.otf');
}
body,html{
    margin: 0 auto;
    font-family: 'Lato',sans-serif;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position:fixed;
    font-size:12px;
    user-select: none;
}
*,*:after,*:before{
    box-sizing:inherit;
}
:root{
    --main-color:#30bad6;
    --black-color:#565656;
    --red-color:#fc585d;
    --background-color: #f0f0f0;
}
main{
    position:relative;
    padding:70px 100px 0 15px;
    margin:0 auto;
    max-width:1400px;
    min-height:100vh;
}
p, span, .title{
    max-width:75ch;
}
.title{
    text-transform: uppercase;
    font-weight:bold;
    color:#565656;
}

.csr-btn{
    padding:8px 15px;
    text-transform: uppercase;
    cursor:pointer;
}
.csr-btn:focus{
    outline:none;
    color:var(--black-color);
}
.csr-btn.transparent{
    background-color: transparent;
    border-color:solid 2px var(--black-color);
    font-weight:bold;
}

/*---- SCROLLBAR ---*/
html.has-scroll-smooth {
    overflow: hidden; }

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.has-scroll-smooth body {
    overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }

.csr-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
    z-index:1090;
}
.csr-scrollbar:hover {
    transform: scaleX(1.45);
}
.csr-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.csr-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: grabbing;
}
